<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css"
          integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <!--<link rel="stylesheet" type="text/css" href="static/index.css">-->
</head>
<body>
<div class="jumbotron">
    <p>緯度 {{latitude}} 経度 {{longitude}}</p>
</div>
<div>
    <iframe src="https://www.google.com/maps/embed/v1/place?key={{API_KEY}}&q={{latitude}},{{longitude}}"
            width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</body>
</html>